<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h3>Listagem de acessorios</h3>
          <div class="direita">

            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()">
              Novo
            </button>

            <!--
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple routerLink="/admin/acessorios/new">
            Novo
          </button>
          -->

        </div>
        <br>
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              @for (acessorio of lista; track $index) {
              <tr>
                <td>{{ acessorio.id }}</td>
                <td>{{ acessorio.nome }}</td>
                <td class="direita">
                  @if (esconderBotoes) {
                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="select(acessorio)">
                      Selecionar
                    </button>
                  }@else{
                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(acessorio)">
                      Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(acessorio)">
                      Deletar
                    </button>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #modalAcessorioDetalhe>
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">

  <app-acessoriosdetails [acessorio]="acessorioEdit" (retorno)="retornoDetalhe($event)"></app-acessoriosdetails>

</div>

</ng-template>
